<!-- INDEX PARTIAL, ROOT LEVEL -->

<div class="row">
  <div class="col-xs-12 col-xs-offset-1">
    <div class="panel panel-primary">
      <!-- Links to next direct level -->
      <a class="link-header" href="#/bugs">
        <div class="panel-heading">
          <h2>Bugsplats</h2>
        </div>
      </a>
      <div class="list-group">
        <!-- Links to detail level -->
        <a href="#" class="list-group-item">
          <strong>Bugs</strong>
          <span class="badge">{{ overallBugCount.count }}</span>
        </a>
        <a href="#" class="list-group-item">
          <strong>Contributors</strong>
          <span class="badge">{{ suiteContributorsCount.count }}</span>
        </a>
        <a href="#" class="list-group-item">
          <strong>Commits</strong>
          <span class="badge">{{ suiteCommitsCount.count }}</span>
        </a>
        <a href="#" class="list-group-item">
          <strong>Releases</strong>
          <span class="badge">{{ suiteReleasesCount.count }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-1">
    <div class="panel panel-primary">
      <!-- Links to next direct level -->
      <a class="link-header" href="#/trans">
        <div class="panel-heading">
          <h2>Transplats</h2>
        </div>
      </a>
      <div class="list-group">
        <!-- Links to detail level -->
        <a href="#" class="list-group-item">
          <strong>Metadata for all components</strong>
          <span class="badge">XX</span>
        </a>
      </div>
    </div>
  </div>
</div>
