# Copy this file to .env or just set these environment variables

# default port is 3000
export PORT=3333

# hostname for this server according to your browser
# if they don't match then Persona will not work
export HOSTNAME="http://localhost:3333"

# secret used to sign cookie. any long string will do
export SECRET="irrelephant"

export OPTIMIZE_CSS=false

export STATIC_MIDDLEWARE='{ "maxAge": "0" }'

# cache setup: you have 3 options:
# 1) redis
#  REDIS_URL, REDISCLOUD_URL, or REDISTOGO_URL - The URL of the Redis server used for caching. Defaults to none.
# 2) memcache
#  MEMCACHED_URL - The URL of the Memcached server used for caching. Defaults to none.
# 3) in-memory cache (default)
#
# All cache backends allow you to set an expire time in seconds (default is 15 mins)
#  CACHE_EXPIRE - The number of seconds to cache responses. Defaults to 3600 seconds (i.e., 1 hour).
