<!-- BUG PARTIAL, THIRD LEVEL -->

<div class="row">
  <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
    <div class="panel panel-primary">
      <!-- Links to next direct level -->
      <a href="#/trans/components/{{locale}}/stats">
        <div class="panel-heading">
          <h2>Statistics for Component {{ component }} - {{ locale }} </h2>
        </div>
      </a>
      <div class="panel-body">
        <strong>Reviewed: </strong><span class="badge">{{ stats.reviewed_percentage }}</span> <br>
        <strong>Compeleted: </strong><span class="badge">{{ stats.completed }}</span><br>
        <strong>Last committer: </strong><span class="badge">{{ stats.last_commiter }}</span><br>
      </div>
    </div>
  </div>
</div>
