<!-- BUG PARTIAL, SECOND LEVEL -->

<div class="row">
  <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
    <div class="panel panel-primary">
      <!-- Links to next direct level -->
      <a href="#/bugs">
        <div class="panel-heading">
          <h2>{{ component }} Bugsplats</h2>
        </div>
      </a>
      <div class="list-group" ng-repeat="bug in bugs">
        <!-- Links to detail level -->
        <a href="#/bug/{{ bug.id }}" class="list-group-item">
          <strong>Creator:</strong> {{ bug.creator.real_name }} <br>
          <strong>Assigned To:</strong> {{ bug.assigned_to.real_name }} <br>
          <strong>Bug Summary:</strong> {{ bug.summary }} <br>
        </a>
      </div>
    </div>
  </div>
</div>

