<!-- BUG PARTIAL, SECOND LEVEL -->

<div class="row">
  <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
    <div class="panel panel-primary">
      <!-- Links to next direct level -->
      <a href="#/tags">
        <div class="panel-heading">
          <h2>Releases for {{ repo }}</h2>
        </div>
      </a>
      <div class="panel-body">
        <ul class="list-group" ng-repeat="tag in repoTags">
          <li href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Release: {{ tag.name }}</h3>
            <p class="list-group-item-text"><strong>Zipball: </strong><a href="{{ tag.zipball_url }}">Download</a></p>
            <p class="list-group-item-text"><strong>Tarball: </strong><a href="{{ tag.tarball_url }}">Download</a></p>
            <p class="list-group-item-text"><strong>See it: </strong><a href="{{ tag.commit.url }}">Go to Code</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
